@import 'tailwindcss';

@theme{
    --color-theme-primary: oklch(0% 0 0);
    --color-theme-secondary: oklch(80% 0 0);

}

html, body {
  @apply bg-theme-primary text-theme-secondary;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.1) 2px, transparent 2px);
  background-size: 40px 40px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}
